*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;

    border: 1px solid ye
}

body{

    background-image: url(IMG_0305.PNG);
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}
