div{
    box-sizing: border-box;
    width: 900px;
    height: 900px;

    margin: 0;
    padding: 0;
}


header{
    padding-top: -30px;

    /*border: 2px solid green;*/
    width: 80%;
    height: 4%;
    color: #34716D;
    font-size: x-small;
}

main{
    color: #34716D;
}

#marcas, #modelos {
    padding: 2px;
    border: 1px #1E6769 solid;

    display: inline-block;
}


#marcas button {
    display: block;
    
}

#lista_marca{
    height: 0px;
    border: 1px solid #34716D;
    width: 10%;

    display: inline-block;
}

#lista_modelos{
    float: left;
    height: 0;
    border: 1px solid #34716D;
    width: 50px;

    
}

h4{
    padding: 0;
    margin: 2px;
}

ul{
    padding: 0;
    margin: 2px 4px;
}

legend{
    color: #34716D;
}

button{
    background-color: white;
    border:1px solid pink;
    color: #34716D;
}

.visible {
    display: block;
}

